/* NAVBAR STYLES */
.navbar-default {
  background-color: #00ADBD;
  border-color: #00ADBD;
  border-radius: 0px;
}
.navbar-header .logo {
  background: url(../img/logo-new.svg);
  background-repeat: no-repeat;
  padding: 0;
  margin: 10px 0px;
  display: block;
  height: 40px;
  width: 105px;
  -webkit-background-size: cover;
  background-size: cover;
}
/* ADD USER FORM STYLES */
.form-user-add {
  margin-top: 20px;
  margin-bottom: 40px;
}
.form-user-add .form-group {
  margin-right: 15px;
}
.form-user-add .form-control {
  background-color: #f6f6f6;
  border: 1px solid #E3E3E3;
  height: 48px;
  font-size: 16px;
}
.form-user-add .form-control.name-field {
  width: 300px;
}
.form-user-add .form-control.age-field {
  width: 100px;
}
.form-user-add .btn-add {
  background-color: #f6f6f6;
  border: 1px solid #E3E3E3;
  height: 48px;
  width: 48px;
  font-size: 20px;
}
.table-users thead tr th {
  cursor: pointer;
  font-weight: normal;
  padding: 8px 20px;
}
.table-users thead tr th .table-sort-icon {
  margin-left: 20px;
}
.table-users tbody tr td {
  font-size: 16px;
  padding: 8px 20px;
}
.table-users tbody tr td .button-separator {
  border-right: 1px solid #CBD1D8;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}
.table-users tbody tr td .btn-link {
  color: #CBD1D8;
}
.table-users tbody tr td .btn-link.active {
  color: #50A7FF;
}
.table-users tbody tr td .form-control {
  border-radius: 0px;
  font-size: 16px;
  margin-left: -12px;
}
.table-users tbody tr td .gender-field {
  width: auto;
}
.table-users tbody tr td .age-field {
  width: 80px;
}
.table-users tbody tr td.vertical-middle {
  vertical-align: middle;
}
.table-users tbody tr:nth-of-type(2n+1) {
  background-color: #EEF3F9;
}
.table-users tbody tr:nth-of-type(2n) {
  background-color: #FFF;
}
.table-users > tbody > tr > td,
.table-users > tbody > tr > th,
.table-users > tfoot > tr > td,
.table-users > tfoot > tr > th,
.table-users > thead > tr > td,
.table-users > thead > tr > th {
  border-top: none;
}
/* PAGINATION STYLES */
.pagination li a {
  border-radius: 20px;
  margin: 0px 5px;
  background-color: #FFF;
  border-color: #FFF;
  color: #333;
}
.pagination li.active a,
.pagination li.active a:hover,
.pagination li.active a:focus {
  background-color: #D6EDEF;
  border-color: #D6EDEF;
  color: #333;
}
.pagination li:first-child a {
  border-radius: 20px;
}
.pagination li:last-child a {
  border-radius: 20px;
}
/* MODAL STYLES */
.modal .modal-content {
  border-radius: 0px;
  background-color: #f8f8f8;
}
.modal .modal-header {
  border-bottom: none;
}
.modal .modal-body p {
  font-size: 18px;
}
.modal .modal-body .modal-button-container {
  margin-top: 40px;
  margin-bottom: 60px;
}
.modal .modal-body .modal-button-container .btn {
  border-radius: 4px;
  text-transform: uppercase;
}
.modal .modal-body .modal-button-container .btn:hover {
  opacity: 0.8;
}
.modal .modal-body .modal-button-container .btn-lg {
  padding: 15px;
}
.modal .modal-body .modal-button-container .btn-primary {
  background-color: #00ADBD;
  border-color: #00ADBD;
}
.modal .modal-body .modal-button-container .btn-cancel {
  background-color: #D7D7D7;
  border-color: #D7D7D7;
}
